.background{
    background-image: url("/banners/background.jfif");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}



.blur{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

.form{
    width: 350px;
    height: 420px;
    background-color: rgba(0,0,0,0.7);
    padding: 10px 30px;
    display: flex;
    flex-flow: column wrap;
    border-radius: 10px;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0 0 10px 1px black;
}

.form form{
    width: 100%;
    height: 250px;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    border-bottom: 1px solid white;
    margin-top: 10px;
}

.username_container, .password_container{
        width:  95%;
        min-height: 50px;
        display: flex;
        flex-direction: column;

        & input{
            width: 100%;
            height: 40px;
            border: 1px solid blueviolet;
            outline: none;
            border-radius: 8px;
            background-color: rgba(0,0,0,0.7);
            font-size: 10px;
            padding: 1% 4%;
            color: blueviolet;   
        }

        & input:valid{
           color: green;
           border-color: green;
        }

        & input::placeholder{
            color:blueviolet;
        }

        & p{
            font-size: 9px;
            color: red;
            padding-top: 10px;
            padding-left: 5px;
    }
}

.login{
    background-color: rgba(0,0,0,0.7);
    border: 1px solid blueviolet;
    color: white;
    box-shadow: 0 0 5px 1px blueviolet;
    border-radius: 2px;
    width: 95%;
    height: 40px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    cursor: pointer;
    border-radius: 5px;
    transition: .4s;
    font-weight: 100;
}

.login:hover{
    background-color: blueviolet;
    color: black;
    transform: scale(1.04);
    font-weight: bold;
}