.blur{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    z-index: 999;
    backdrop-filter: blur(3px);
    display: flex;
    align-items: center;
    justify-content: center;

}

.modal{
    width: 1100px;
    height: 560px;
    background-color: #1b1d1f;
    position: relative;
    border-radius: 10px;
    margin: 2%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    box-shadow: 
            0 0 6px black,
            0 0 6px black,
            0 0 5px black,
            0 0 6px black;

    & .close{
        background-image: url("/buttons/modalClose.svg");
        width: 40px;
        height: 40px;
        background-color: #1b1d1f;
        border: 0;
        border-radius: 50%;
        position: absolute;
        top: 2%;
        left: 99%;
        transform: translate(-99%,-2%);
        cursor: pointer;
        transition: .5s;
    }

    & .close:hover{
        transform: scale(1.1) translate(-90%, 0);
    }
}

.image_container{
    width: 400px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    & .anime_img{
        width: 300px;
        height: 450px;
        border-radius: 10px;
        box-shadow: 0 0 10px black;
    }
}

.anime_description{
    width: calc(100% - 450px);
    height: 450px;
}

.title_container{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    height: auto;
    padding: 1% 5% 1% 0;
    
    & p{
        text-shadow: 0 0 10px blueviolet;
        font-size: 27px;
    }
    
    & span{
        text-shadow: none;
        margin-left: 10px;
        color: gold;
        width: 100%;
        font-size: 16px;
    }
}

.genres_container{
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 10px 0;
    
    & p{
        border: 1px solid blueviolet;
        border-radius: 10%;
        padding: .5% 2%;
        font-size: 14px;
        color: blueviolet;
        background-color: black;
    }
}

.synopsis_container{
    width: 100%;
    margin: 3% 0;
    max-height: 250px;
    overflow-y: auto;

    & p{
        padding: 1%;
        width: calc(100% - 50px);
        text-shadow: 1px 1px 1px black;
        font-size: 15px;
        border-bottom: 1px solid white;
        font-weight: 300;
        line-height: 30px;
    }
}

.addList{
    background-color: rgba(0,0,0,1);
    border: 1px solid blueviolet;
    color: white;
    box-shadow: 0 0 5px 2px blueviolet;
    border-radius: 5px;
    position: relative;
    margin: 20px 0;
    width: 100px;
    height: 33px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    cursor: pointer;
    border-radius: 5px;
    transition: .6s;
    font-weight: bold;
}

.addList:hover{
    background-color: blueviolet;
    color: black;
    transform: scale(1.1);
    font-weight: bold;
}

.addList::before, .view_more::before{
    content: '';
    width: 0px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: blueviolet;
    transition: .5s;
    z-index: -1;
}

.addList:hover::before, .view_more:hover::before{ width: 100%; }

/* Largura da barra de rolagem */
::-webkit-scrollbar {
  width: 10px;
}

/* Track (fundo) */
::-webkit-scrollbar-track {
  background: #1e1e1e; /* cor do fundo */
  border-radius: 10px;
}

/* Thumb (parte que se move) */
::-webkit-scrollbar-thumb {
  background: #555;      /* cor da barra */
  border-radius: 10px;   /* cantos arredondados */
  border: 2px solid #1e1e1e; /* deixa ela mais fininha */
}

/* Thumb ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}


