.container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    position: relative;
    z-index: 1;
    overflow: hidden;
    box-shadow: 0 0 10px white;
}

.loading::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #1b1d1f;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    z-index: 1;
}

.loading::after{
    content: "";
    position: absolute;
    top: -120%;
    left: 20%;
    transform: translate(0%,-10%);
    width: 30px;
    height: 100px;
    background-color: blueviolet;
    animation: loading .8s linear infinite;
    transform-origin: 50% 90%;
    border-radius: 50%;
}   


@keyframes loading {
    from{
        transform: translate(0%,-10%) rotate(0);
    }

    to{
        transform: translate(0%,-10%) rotate(360deg);
    }
    
}