.anime_single:hover{
    box-shadow: 0 0 15px blueviolet;
    background-color: #292929;
}

.anime_single{
    margin: 0 20px;
    height:  235px;
    min-width: 150px;
    max-width: 150px;
    border-radius: 5px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}


.anime_single img{
    border-radius: 5px;
    width: 90%;
    height: 140px;
}


.anime_single h3{
    font-size: 13px;
    margin-top: 10px ;
    
}

.nota_anime_single{
    display: flex;
    flex-flow: row wrap;
    margin-top: 10px;

}


@media screen and (max-width: 750px) {

    
    .anime_single{
        max-width: 130px;
        min-width: 130px;
        height: 210px;
        padding-top: 10px;
    }

    .anime_single img{
        height: 65%;

    }

    .anime_single p, .anime_single h3{
        font-size: 12px;
    }

    .nota_anime_single{
        margin-top: 0;
    }

}

@media screen and (max-width: 410px) {
    .anime_single{
        max-width: 115px;
        min-width: 115px;
        height: 170px;
        
    }

    .anime_single p, .anime_single h3{
        font-size: 9px;
    }

 
}