/* -------------------------------------------- BUTTONS -------------------------------------------- */

.addRemove, .viewMore, .button{
    border: 0;
    border-radius: 2px;
    position: relative;
    width: 100px;
    height: 35px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    cursor: pointer;
    border-radius: 5px;
    transition: .4s;
    font-weight: bold;
    
}

.addRemove{
    background-color: #0d0d0d;
    color: white;
}

.viewMore{
    background-color: white;
    color: #1a1a1a;
}

.addRemove:hover , .viewMore:hover, .button:hover{
    background-color: blueviolet;
    border: 0;
    color: black;
    transform: scale(1.1);
    font-weight: bold;
}
.addRemove:active, .viewMore:active, .button:active{
    transform: scale(1.4);
}

.searchButtons{ margin: 50px 0 30px 0; }


.button{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}