/* -------------------------------------------- BANNER -------------------------------------------- */

.homeBanner, .movieBanner{
    margin: 0 auto;
    margin-top: 20px;
    background-attachment: fixed;
    width: 93%;
    height: 85%;
    background-size: cover;
    background-position: left;
    box-shadow: 0 4px 10px black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    opacity: 0.85;
}

.movieBanner{
    opacity: 1;
    background-position: top;
}



.banner_title{
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    & h1{
        font-size: 35px;
        text-shadow: 1px 1px 4px blueviolet;
    }

    & p{
        font-size: 20px;
        height: 100%;
        margin-left: 10px;
        color: gold;
    }
}

.banner_description{
    width: 50%;
    padding: 3%;
    margin-left: 25px;

    & h5{
        color: green;
        padding: 10px 0;
        font-size: 20px;
        font-weight: bold;
        text-shadow: 1px 1px 4px black;

    }

    & .banner_synopsis{
        font-size: 15px;
        font-weight: 400;
        text-shadow: 1px 1px 2px black;
        line-height: 23px;
    }
}

/* -------------------------------------------- BANNER BUTTONS -------------------------------------------- */

.banner_buttons{
    display: flex;
    gap: 20px;
}


.add, .view_more{
    background-color: black;
    border: 1px solid blueviolet;
    color: white;
    box-shadow: 0 0 5px 2px blueviolet;
    border-radius: 2px;
    position: relative;
    margin: 30px 0;
    width: 120px;
    height: 35px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    cursor: pointer;
    border-radius: 5px;
    transition: .6s;
    font-weight: 100;
    
}

.add:hover, .view_more:hover{
    background-color: blueviolet;
    color: black;
    transform: scale(1.1);
    font-weight: bold;
}

.add::before, .view_more::before{
    content: '';
    width: 0px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: blueviolet;
    transition: .5s;
    z-index: -1;
}

.add:hover::before, .view_more:hover::before{ width: 100%; }

