/* -------------------------------------------- BANNER -------------------------------------------- */

/* ------------------- BASIC ONES ------------------- */

.banner{
    width: 88%;
    height: 550px;
    margin: 0 auto;
    position: relative;
}


.desktop_banner, .mobile_banner{
    width: 100%;
    height: 100%;
    position: relative;
}


.banner_buttons{
    display: flex;
    gap: 20px;
    z-index: 5;
    margin: 30px 0;
}

/* -------------------------------------------- DESKTOP BANNER -------------------------------------------- */

.homeBanner, .movieBanner{
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: top;
    box-shadow: 0 4px 10px black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    transition: 1s;
    z-index: 5;
}


/* ------------------- DESCRIPTION ------------------- */

.banner_description{
    width: 100%;
    padding: 3%;
    margin-left: 25px;
    display: flex;
    flex-flow: column wrap;
}

/* ------------------- TITLE ------------------- */

.title_container{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.title_container h1{
    font-size: 35px;
    text-shadow: 1px 1px 1px black;
    color: white;
}

.title_container p{
    font-size: 20px;
    height: 100%;
    margin-left: 10px;
}

/* ------------------- TOP RATED ------------------- */

.top_rated{
    color: greenyellow;
    padding: 10px 0;
    font-size: 20px;
    text-shadow: 0 0 1px black;
}

/* ------------------- SYNOPSIS ------------------- */

.banner_synopsis{
    max-width: 600px;
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    text-shadow: 1px 1px 1px black;
    color: white;

}


/* -------------------------------------------- MOBILE BANNER -------------------------------------------- */

.mobile_banner{ 
    display: none; 
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

/* ------------------- CAROUSEL ------------------- */

.banner_carousel{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
    border-radius: 6px;


}

.banner_carousel::-webkit-scrollbar { display: none; }


/* ------------------- CAROUSEL SLIDE ------------------- */

.carousel_slide{
    min-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-size: cover;
    background-position: center;
    border: 3px solid transparent;
    border-image: linear-gradient(45deg, #0021fb, #00eaff) 2;
    border-radius: 10px;
}

.carousel_slide:nth-last-of-type(3){ background-position: top; }

.carousel_title{
    color: white;
    text-shadow: 0 0 5px black;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    scroll-snap-align: center;
    border-radius: 10px;
    user-select: none;
}


/* ------------------- CAROUSEL BUTTONS ------------------- */

.carousel_buttons{
    position: absolute;
    top: 3%;
    left: 50%;
    display: flex;
    gap: 15px;
    transform: translate(-50%,-3%);
    z-index: 9;
}
.carousel_buttons button{
    width: 16px;
    height: 16px;
    background-color: black;
    box-shadow: 0 0 20px  black;
    border-radius: 50%;
    cursor: pointer;
    border: 0;
}

.carousel_buttons button:hover{ border: 3px solid blueviolet; }
.CbActived{ background-color: blueviolet!important; }

.embla {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-radius: 5px;

}

.embla__container {
    display: flex;
    align-items: center;
    width: 100%; 
    height: 100%;
}

.embla__slide {
    flex: 0 0 auto;
    border-radius: 50%;
    cursor: pointer;
    border: 3px solid rgb(69, 69, 69);
    margin-left: 13px;
}


/* -------------------------------------------- MEDIA SCREENS -------------------------------------------- */


@media screen and (max-width: 730px) {
    .banner{
        margin: 20px auto 0px auto;
        width: 85%;
        height: 570px;
    }

    .banner_title{
        & h1{ font-size: 25px; }
        & p{ font-size: 13px; }
    }
}

@media screen and (max-width: 600px){
    .desktop_banner{ display: none; }
    .mobile_banner{ display: block; }

    .banner{
        width: 88%;
        height: 400px;
    }

    .banner_title{
        flex-direction: column;
        margin: 0;

        & p{ margin: 10px 0;}
    }

    .banner_buttons{ justify-content: center; }
}