.blur {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.858);
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.modal {
    max-width: 600px;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border: 1px solid white;
    gap: 15px;
}

.embla {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.embla__container {
    display: flex;
    align-items: center;
    width: 100%; 
    height: 80px;
}

.embla__slide {
    flex: 0 0 auto;
    border-radius: 50%;
    cursor: pointer;
    border: 3px solid rgb(69, 69, 69);
    margin-left: 13px;
}

.ola{
    border: 5px solid white;
}


.buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.moviment_buttons {
    display: flex;
    gap: 10px;
}

.moviment_buttons .back,
.moviment_buttons .next {
    background-size: cover;
    width: 40px;
    height: 40px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.back { background-image: var(--carousel-back); }
.next { background-image: var(--carousel-next); }

.back:hover,
.next:hover {
    transform: scale(1.2);
}

.save {
    width: 70px;
    height: 35px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    cursor: pointer;
}

.save:hover {
    background-color: white;
    border: 0;
    color: black;
}
