.button{
    background-color: black;
    border: 1px solid blueviolet;
    color: white;
    box-shadow: 0 0 5px  blueviolet;
    border-radius: 2px;
    position: relative;
    margin: 30px 0;
    width: 120px;
    height: 35px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    cursor: pointer;
    border-radius: 5px;
    transition: .6s;
    font-weight: 100;
    
}

.button:hover{
    background-color: blueviolet;
    color: black;
    transform: scale(1.1);
    font-weight: bold;
}

.button::before{
    content: '';
    width: 0px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: blueviolet;
    transition: .5s;
    z-index: -1;
}

.button:hover::before{ width: 100%; }

.button:active{
    transform: scale(1.6);
}
