.flex{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 5%;
}

.container_anime_busca {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}



.container_anime_busca h2 {
    margin-bottom: 40px;
    font-size: 1.5rem;
    text-shadow: 2px 2px 5px rgba(138, 43, 226, 0.7);
}

.resultados_busca {
    display: flex;
    flex-direction: column;
    border-top: 2px solid black;
    padding: 20px 0;
}

.animes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1000px;

}

.anime_single {
    width: 180px;
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background-color: #292929;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 8px;
    transition: transform 0.2s ease;
    cursor: pointer;
}

.anime_single:hover {
    transform: scale(1.05); /* Efeito hover */
}

.anime_single h3 {
    margin: 10px 0;
    font-size: 14px;
    color: white;
    word-break: break-word; /* Evita que o texto estoure o card */
}

.anime_single img {
    width: 100%;
    height: 70%;
    object-fit: cover; /* Garante que a imagem se encaixe bem */
    border-radius: 5px;
}

.nota_anime_single p {
    margin: 0;
    font-size: 14px;
    color: gold;
    font-weight: bold;
}

.container_buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 2% 1%;
}



.container_buttons button {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid black;
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    transition: all 0.3s ease;
}

.container_buttons button:hover {
    border-color: blueviolet;
    color: white;
    background-color: blueviolet;
}


.avancar, .voltar{
    margin-top: 20px;
    visibility: hidden;
}




@media (max-width: 570px) {
    .anime_single{
        width: 120px;
        height: 220px;
    }

    .animes{
        gap: 10px;
    }

    .anime_single h3, .nota_anime_single p{
        font-size: 10px!important;
    }
}

@media (max-width: 439px) {
    .animes{
        gap: 10px;
    }
}