/* -------------------------------------------- GENRES -------------------------------------------- */

.loadMore, .mobileLoadMore{
  width: 100%;
  text-align: center;
  height: 70px;
  margin: 50px 0;
}

.mobileLoadMore{
  width: 100%;
  text-align: center;
  height: 100px;
  padding: 20px 0;
}

.desktop_actived, .mobile_actived{
    color: var(--secondary-color)!important;
    background-color: var(--navBar-desktop-actived);
    font-weight: bold!important;
}

.helper{
  width: 100%;
  height: 100%;
}


/* -------------------------------------------- DESKTOP GENRES -------------------------------------------- */

.desktop_genres{
    display: grid;
    grid-template-columns: 1.1fr 7fr;
    align-items: flex-start;
    width: 100%;
}

.desktop_genres_config{
  width: auto;
  height: 30px;
  z-index: 7;
  position: fixed;
  top: 95%;
  left: 100%;
  transform: translate(-95%,-100%);
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: space-between;
  padding: 0 5%;
}

.genres_config_icon{
  background-image: url("/icons/general/config.svg"); 
  width: 40px; 
  height: 40px; 
  cursor: pointer;
}


/* ------------------- SIDEBAR ------------------- */

.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    padding-top: 20px;
    border-right: 1px solid var(--primary-color);
}


.sidebar p{
    width:  80%;
    text-align: center;
    padding: 15px 15px;
    font-size: 13px;
    border-radius: 7px;
    cursor: pointer; 
    border: 1px solid transparent;
}

.sidebar p:hover{ border-color:  var(--navBar-desktop-actived); }
  

/* ------------------- GENRES CONTAINER ------------------- */

.loading,.loadingMobile{
  width: 80%;
  margin: 0 auto;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading{
  margin-top: 30px;

}


.desktop_genres_animes{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 150px);
    margin: 0 auto;
    margin-top: 30px;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    padding: 0 10px;
}


/* -------------------------------------------- MOBILE GENRES -------------------------------------------- */

.mobile_genres{
  width: 100%;
  display: none;
  flex-flow: row wrap;
  padding: 2%;
  margin:  20px 0 100px 0;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.mobile_genres p{
  padding: 10px 15px;
  border-radius: 2px;
  border: 1px solid #ccc;
  font-size: 13px;
}


.mobile_genres_animes{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, 140px);
  grid-template-rows: 200px;
  justify-content: center;
  gap: 30px;

}


/* ------------------- BUTTONS ------------------- */

.genres_config_icon, .genres_back_icon{
  background-size: cover;
  width: 35px;
  height: 35px;
  border: 0;
  border-radius: 50%;
  border: 3px solid black;
  background-color: white;

}

.mobile_genres_config{
  width: 100%;
  height: 30px;
  z-index: 7;
  position: fixed;
  top: 85%;
  left: 0;
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: space-between;
  padding: 0 5%;
}

.genres_config_icon{ background-image: url("/icons/general/config.svg"); }
.genres_back_icon{ background-image: url("/icons/general/left.svg"); }


/* -------------------------------------------- MEDIA SCREENS -------------------------------------------- */

@media screen and (max-width: 1044px){ .desktop_genres{ grid-template-columns: 170px 7fr; } }


@media screen and (max-width: 730px){
  .mobile_genres{ display: flex; }
  .desktop_genres{ display: none; }
  .mobile_genres_config{ flex-direction: row; }
}

@media screen and (max-width: 535px){
  .sidebar{ line-height: 20px; }
  .sidebar > p{
    font-size: 11px;
    padding: 9px;
  }

  .mobile_genres_animes{
    gap: 10px;
    grid-template-columns: repeat(auto-fill, 100px);
    grid-template-rows: 150px;

  }

  :global(.anime){
      min-width: 100%!important;
      height: 150px!important;
  }
}






/*---------------------- */

.sideBar ::-webkit-scrollbar {
  width: 10px;
}

/* Track (fundo) */
.sideBar ::-webkit-scrollbar-track {
  background: transparent; /* cor do fundo */
  border-radius: 10px;
}

/* Thumb (parte que se move) */
.sideBar ::-webkit-scrollbar-thumb {
  background: #555;      /* cor da barra */
  border-radius: 10px;   /* cantos arredondados */
  border: 3px solid #1e1e1e; /* deixa ela mais fininha */
}

/* Thumb ao passar o mouse */
.sideBar ::-webkit-scrollbar-thumb:hover {
  background:transparent;
}
