.anime_section{
    margin: 0 auto;
    width: 100%;
    height: 320px;
    padding: 2%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    position: relative;
    
    & h3{
        margin-left: 10px;
    }
}

.carousel{
    height: 85%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    overflow-x: hidden;
    transition: 1s;
    padding-left: 10px;
}
