@import 
url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* -------------------------------------------- BASIC ONES -------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body{
  background: var(--background);
  position: relative;
}

html, body{
  color: var(--primary-color);
  min-height: 100%;
}

/* -------------------------------------------- INITIAL PAGES -------------------------------------------- */

.home, .movies{
    width: 100%;
    height: auto;
}

/* -------------------------------------------- DARK THEME -------------------------------------------- */

.dark{

  --background: linear-gradient(#1e1e1e,rgb(0, 0, 0));
  --primary-color: white;
  --secondary-color: black;
  --cc-black: #ccc;
  
  /* ----------- navBar ----------- */

  --navBar-background: rgb(34, 34, 34);
  --navBar-desktop-actived: blueviolet;
  --navBar-mobile-actived: blueviolet;
  --navBar-hover: blueviolet;

  --navBar-search: url("/icons/darkTheme/search.svg");
  --navBar-profile: url("/icons/darkTheme/user.svg");
 

  /* ----------- Anime Modal ----------- */

  --animeModal-background: rgb(29, 29, 29);
  --modal-close: url("/icons/darkTheme/modalClose.svg");

  
  /* ----------- Anime Search Filter ----------- */

  --filter-background: rgb(52, 52, 52);
  --filter-border: #525252;
  --filter-input-background: #484848;
  --filter-input-border: #797979;

  /* ----------- PROFILE ----------- */

  --arrow-up-down: url("/icons/darkTheme/arrow-up-down.svg");
  --arrow-up-down-reverse: url("/icons/lightTheme/arrow-up-down.svg");
  --profile-input-background: #484848;

  --carousel-back: url("/icons/darkTheme/carousel-left.svg");
  --carousel-next: url("/icons/darkTheme/carousel-right.svg");

}

/* -------------------------------------------- LIGHT THEME -------------------------------------------- */

.light{

  --background: linear-gradient(#cccccc,rgb(255, 255, 255));
  --primary-color: rgb(0, 0, 0);
  --secondary-color: white;
  --cc-black: black;

  /* ----------- navBar ----------- */

  --navBar-background: rgb(228, 228, 228);
  --navBar-desktop-actived: rgb(0, 0, 0);
  --navBar-mobile-actived: rgb(198, 198, 198);
  --navBar-hover: rgb(0, 0, 0);

  --navBar-search: url("/icons/lightTheme/search.svg");
  --navBar-profile: url("/icons/lightTheme/user.svg");


  /* ----------- Anime Modal ----------- */

  --animeModal-background: rgb(202, 202, 202);
  --modal-close: url("/icons/lightTheme/modalClose.svg");


  /* ----------- Anime Search Filter ----------- */

  --filter-background: white;
  --filter-border: rgb(255, 255, 255);
  --filter-input-background: #ffffff;
  --filter-input-border: rgb(190, 190, 190);


  /* ----------- PROFILE ----------- */

  --arrow-up-down: url("/icons/lightTheme/arrow-up-down.svg");
  --arrow-up-down-reverse: url("/icons/darkTheme/arrow-up-down.svg");
  --profile-input-background: #e7e7e7;

  --carousel-back: url("/icons/darkTheme/carousel-left.svg");
  --carousel-next: url("/icons/darkTheme/carousel-right.svg");
}


/* -------------------------------------------- NOT FOUND -------------------------------------------- */

.not_found{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  text-align: center;

}

@media screen and (max-width:450px){
  .not_found{
    font-size: 14px;
  }
}