/* -------------------------------------------- SEARCH -------------------------------------------- */

.search_container{
    width: 100%;
    height: auto;
    display: flex;
    flex-flow:  row wrap;
    justify-content: center;
    gap: 100px;
    padding: 2%;
    padding-top: 100px;
}

.search{ 
    margin-bottom: 50px;
    width: auto;
    min-width: 300px;
    height: auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    border-radius: 10px;
}


/* ------------------- TITLE CONTAINER ------------------- */

.title_container{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.title_container h2{
    font-size: 23px;
    font-weight: 600;
    color: var(--primary-color);;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.title_container button{
    border-radius: 4px;
    position: relative;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    transition: .5s;
    position: relative;
    background-color: #303030;
    color: white;
    border: 0;
}

.title_container button:hover{
    color: black;
    background-color: blueviolet;
}


/* ------------------- RESULTS ------------------- */

.results{
    max-width: 850px;
    min-width: 300px;
    margin-top: 20px;
    border-top: 1px solid var(--primary-color);
    padding-top: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;
}

:global(.searchButtons){
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: space-between;
}


/* -------------------------------------------- MEDIA SCREENS -------------------------------------------- */

@media screen and (max-width: 730px){ .search_container{ padding-top: 80px; } }

@media screen and (max-width: 510px){
    .search_results{ gap: 2px; }
    .search_results :global(.anime){ min-width: 105px!important; }
}

@media screen and (max-width: 439px){ .search_results{ gap: 10px; } }

@media screen and (max-width: 364px){ .search_results{ gap: 0px; } }

@media screen and (max-width: 329px){
    .search{ min-width: 100%; }
    .results{ gap: 10px; min-width: 100%; }
    .results :global(.anime_single){ min-width: 130px!important; }
}