/* -------------------------------------------- SEARCH -------------------------------------------- */

.search_container{
    width: 100%;
    height: auto;
    display: flex;
    flex-flow:  row wrap;
    justify-content: center;
    gap: 100px;
    padding: 2%;
    padding-top: 100px;
}

.search{ 
    margin-bottom: 50px;
    width: auto;
    min-width: 300px;
    height: auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    border-radius: 10px;
}



.container_loading{
    margin-top: 20px;
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid var(--primary-color);

}

.loading_animes{
    display: block;
    margin: 0 auto;
}

/* ------------------- TITLE CONTAINER ------------------- */

.title_container{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

}

.title_container h2{
    font-size: 23px;
    font-weight: 600;
    color: var(--primary-color);;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.title_container button{
    border-radius: 4px;
    position: relative;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    transition: .5s;
    position: relative;
    background-color: #303030;
    color: white;
    border: 0;
}

.title_container button:hover{
    color: black;
    background-color: blueviolet;
}


/* ------------------- RESULTS ------------------- */

.results{
    border-top: 1px solid var(--primary-color);
    max-width: 850px;
    min-width: 300px;
    margin-top: 20px;
    padding-top: 30px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(100px, 140px));
    gap: 20px;
}

.results p{
    text-align: center;
    width: 100%;
    grid-column: 1 / -1;
}

:global(.searchButtons){
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: space-between;
}

.results :global(.anime){ min-width: 100%!important; }

/* -------------------------------------------- MEDIA SCREENS -------------------------------------------- */

@media screen and (max-width: 730px){ .search_container{ padding-top: 50px; } }

@media screen and (max-width: 633px){
    .results, .search{
        min-width: 100%;
    }

    .results{
        grid-template-columns: repeat(3, 140px);
        gap: 30px;
    }
}

@media screen and (max-width: 504px){
    .results{
        grid-template-columns: repeat(3, minmax(0,130px));
        gap: 5px;
    }
}


