.actived{
    color: blueviolet!important;
    text-shadow:
            0 0 5px #7300d7,
            0 0 15px #7300d7,
            0 0 30px #7300d7;
}

/* -------------------------------------------- NAV BAR -------------------------------------------- */

.navBar{
    position: absolute;
    left: 50%;
    top: 7%;
    transform: translateX(-50%);
    background-color: rgba(0,0,0,0.5);
    width: 89%;
    height: 70px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 1%;
    flex-flow: row wrap;
    z-index: 10;
    border: 1px solid white;
    box-shadow: 0 0 10px white;
    border-radius: 10px;
}

/* ----------------------------- NAVEGATION ----------------------------- */

.navegation{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 500px;
    height: 100%;
    justify-content: space-around; 
    align-items: center;    
    position: relative;   

    & .link_container{
        width: 70%;

        & .link{
            color: white;
            text-decoration: none;
            font-size: 14px;
            padding: 0 10px;
        }
    }

    & .link:hover{
        color: blueviolet;
        text-shadow:
            0 0 5px #7300d7,
            0 0 15px #7300d7,
            0 0 30px #7300d7;
    }
}

.logo{
    width: 100px;
    height: 100%;
    position: relative;
}



/* ----------------------------- ACTION BAR ----------------------------- */

.action-bar{
    width: 500px;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;

    & .userProfile{
        width: 30px;
        height: 30px;
        border: 1px solid white;
        border-radius: 7px;
        cursor: pointer;
        overflow: hidden;
        transition: .5s;
    }     
}

/* ------------------- BUTTONS ------------------- */

.icons{
    display: flex;
    gap: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    & .search, & .config{
        background-repeat: no-repeat;
        background-size: contain;
        width: 20px;    
        height: 20px;
        display: flex;
        align-items: center;
        cursor: pointer;
        background-color: transparent;
        border: 0;
    }

    & .search{
        background-image: url("/icons/search.svg");
        position: absolute;
        top: 50%;
        left: 95%;
        transform: translate(-95%,-50%);
        border-radius: 50%;
        z-index: 10;

    }

    & .config{
         background-image: url("/icons/config.svg");

    }
}


.formContaint{
    width: 300px;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-items: center;
    position: relative;  
}

.formContaint form{
    width:250px;
    position: absolute;
    top: 0;
    left: 0;
    top: 50%;
    left: 100%;
    transform: translate(-100%,-50%);
    display: flex;
    justify-content: flex-end;
    align-items: center;

    & input{
        width: 0;
        height: 30px;
        border-radius: 10px;
        outline: none;
        background-color: transparent;
        font-size: 12px;
        color: white;
        transition: .5s;
        margin-right: 5px;
        border: 1px solid white;
        opacity: 0;
        z-index: 11;
        position: relative;
    }


    & input::placeholder{
        color: white;
        font-size: 12px;
        padding-left: 2%;
    }

}

.search:hover  + form input, .formContaint form input:hover, .formContaint form input:focus{
    opacity: 1;
    width: 250px!important;
    padding: 2% 40px 2% 5%;
}


.exit{
    border-radius: 4px;
    position: relative;
    width: 70px;
    height: 30px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    cursor: pointer;
    border-radius: 5px;
    transition: .5s;
    position: relative;
    border-color: blueviolet;
    background-color: blueviolet;
    color: black;
    border: 2px solid blueviolet;
}

.exit:hover{
    background-color: transparent;
    color: blueviolet;
    transform: scale(1.1);
    border-color:  blueviolet;
}

.exit::before{
    content: '';
    width: 0px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    transition: .5s;
    z-index: -1;
}

.exit:hover::before{ width: 100%; }




/* -------------------------------------------- MEDIA SCREENS -------------------------------------------- */
