/* -------------------------------------------- NAV BAR -------------------------------------------- */

/* ------------------- BASIC ONES ------------------- */

.desktop_actived, .mobile_actived{
    color: var(--secondary-color)!important;
    font-weight: bold!important;
}

.desktop_actived{ background-color: var(--navBar-desktop-actived)!important; }
.mobile_actived{ background-color: var(--navBar-mobile-actived)!important; }

.line{
    position: absolute;
    top: 96%;
    left: 50%;
    width: 100%;
    height: 10%;
    transform: translate(-50%,-100%);
    border-bottom: 1px solid rgb(53, 53, 53);
}


/* -------------------------------------------- DESKTOP NAV BAR -------------------------------------------- */

.desktop_navBar{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0 1%;
    z-index: 10;
    position: relative;
}

/* ------------------- NAVEGATION ------------------- */

.desktop_navegation{
    width: 50%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; 
    align-items: center;    
    font-weight: 100;
    gap: 20px;
    padding-left: 5%;
}

.desktop_navegation .link{
    font-weight: 200;           
    color: var(--primary-color);
    text-decoration: none;
    font-size: 13px;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 5px;
}

.desktop_navegation .link:hover{ 
    color: var(--secondary-color); 
    background-color: var(--navBar-desktop-actived);
}


/* ------------------- ACTION BAR ------------------- */

.desktop_actions{
    width: 50%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-end;
    padding-right: 5%;
    gap: 20px;   
}

.actions_container{
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 250px;
    height: 100%;
    position: relative;  
}

.navBar_search_icon{
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    background-image: var(--navBar-search);
    position: absolute;
    top: 50%;
    left: 95%;
    transform: translate(-95%,-50%);
    border-radius: 50%;
    z-index: 10;
}


/* ------------------- DESKTOP FORM ------------------- */

.desktop_navBar_form{
    width: 250px;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-100%,-50%);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.desktop_navBar_form input{
    width: 0;
    height: 30px;
    border-radius: 10px;
    outline: none;
    background-color: transparent;
    font-size: 11px;
    color: var(--primary-color);
    transition: .5s;
    margin-right: 5px;
    border: 1px solid  var(--primary-color);
    opacity: 0;
    z-index: 10;
    position: relative;
}


.desktop_navBar_form input::placeholder{
    color:  var(--primary-color);
    font-size: 11px;
}



.navBar_search_icon:hover + form input, 
.actions_container form input:hover, 
.actions_container form input:focus {
    opacity: 1;
    width: 250px!important;
    padding: 2% 40px 2% 7%;
}


/* -------------------------------------------- MOBILE NAV BAR -------------------------------------------- */


.mobile_navBar{
    width: 100%;
    height: 58px;
    display: none;
    justify-content: space-around;
    align-items: center;
    padding: 0 5%;
    z-index: 10;
    background-color: var(--navBar-background);
    position: fixed;
    bottom: 0;
    left: 0;
    gap: 10px;
}

.mobile_navbar_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.mobile_navBar p{
    font-size: 10px;
    color: var(--primary-color);
}

.mobile_navbar_image{
    padding: 5px;
    border-radius: 7px;
    border: 0;
    background-color: transparent;
    background-size: cover;
    border-radius: 5px;
}

/* ------------------- SEARCH CONTAINER ------------------- */


.mobile_search_container{
    display: none;
    align-items: center;
    justify-content: center;
    width: 82%;
    height: 60px;
    position: relative;  
    margin: 0 auto;
    margin-top: 5px;
}

.navBar_search_icon{
    width: 18px;    
    height: 18px;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    background-image: var(--navBar-search);
    position: absolute;
    top: 50%;
    right: 0;
    border-radius: 50%;
    z-index: 11;
}

/* ------------------- MOBILE FORM ------------------- */


.mobile_navBar_form{
    width: 98%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 10;
}

.mobile_navBar_form input{
    width:  100%;
    height: 40px;
    border-radius: 10px;
    outline: none;
    background-color: transparent;
    font-size: 11px;
    color: var(--primary-color);
    transition: .5s;
    border: 1px solid var(--primary-color);
    z-index: 99;
    position: relative;
    padding: 3px 30px 0 20px;
}

.mobile_navBar_form input::placeholder{
    color: var(--primary-color);
    font-size: 12px;
}


/* ------------------- USER ICON CONTAINER ------------------- */

.navBar_userIcon_container{
    position: fixed;
    top: 2%;
    left: 95%;
    transform: translate(-95%,-2%);
    border: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 10;
    background-color: rgb(47, 47, 47,0.9);
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
   
}   

.navBar_userIcon{
    background-size: cover;
    background-color: transparent;
    border: 0;
    width: 20px;
    height: 40px;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid var(--primary-color);
}

/* -------------------------------------------- MEDIA SCREENS -------------------------------------------- */


@media screen and (max-width: 730px) {
    .desktop_navBar{ display: none; }
    .mobile_navBar, .mobile_search_container{ display: flex; }
}

@media screen and (max-width: 480px){ .navBar_search_icon{ left: 95%; }}