.anime_section{
    margin: 0 auto;
    width: 99%;
    height: 320px;
    padding: 2%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;

    & h3{
        margin-left: 10px;
    }
}

.scroll{
    height: 85%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    overflow: hidden;
}

.anime_single{
    width: 140px;
    height: 180px;
    background-position: center;
    background-size: cover;
    border-radius: 7px;
    cursor: pointer;
    position: relative;
    transition: .5s;
    overflow: hidden;
}

.test{
    width: 150px;
    height: 200px;
}

.anime_single::before{
    content: 'Sousou no Frieren';
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 13px;
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: .5s;
    overflow: hidden;
    z-index: 999;
}

.anime_single:hover{
    background-color: rgba(0,0,0,0.7)!important;
    transform: scale(1.1);
}


.anime_single::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 110%;
    height: 110%;
    z-index: 99;
    transition: .5s;
}

.anime_single:hover.anime_single::before{
    top: 135%;
}
.anime_single:hover.anime_single::after{
    background-color: rgba(0,0,0,0.4);
}