/* -------------------------------------------- ANIME  -------------------------------------------- */

.anime{
    border-radius: 7px;
    cursor: pointer;
    position: relative;
    transition: .5s;
    overflow: hidden;
    z-index: 5;
    min-width: 110px;
}

.anime_image{
    min-width: 100%;
    width: auto;
    height: 100%;
}

.anime::before{
    content: var(--title);
    width: 100%;
    height: 160%;
    display: flex;
    color: white;
    font-weight: bold;
    font-size: 12px;
    position: absolute;
    top:  0%;
    left: 0%;
    transition: .4s;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 3;
    text-align: center; 
}

.anime:hover{
    box-shadow: 0 0  6px var(--primary-color);
    transform: scale(1.1);
}

.anime::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 110%;
    height: 110%;
    z-index: 2;
    transition: .4s;
}

.anime:hover.anime::before{ height: 88%; }
.anime:hover.anime::after{ background-color: rgba(0,0,0,0.3); }