/* -------------------------------------------- MY LIST -------------------------------------------- */

.myList_container{
    max-width: 1100px;
    min-height: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: 0 auto;   
    padding-top: 50px;
    gap: 20px;    
    padding: 5%;
}

.myList_container h1{
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--primary-color);
    font-size: 25px;
    
}

.myList{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
      
}

/* -------------------------------------------- MEDIA SCREENS -------------------------------------------- */

@media screen and (max-width: 870px){ .myList{ justify-content: center; }}

@media screen and (max-width: 513px){
    .myList_container{ padding: 5% 2%; }
    .myList_container > h1{ padding: 2%; }

    .myList{
        gap: 0px;
        padding-bottom: 70px;
    }

    .myList > :global(.anime){
        min-width: 130px!important;
        height: 180px!important;
    }
}

@media screen and (max-width: 513px){
    .myList{ gap: 30px; }

    .myList_container h1{
        margin: 10px auto 30px auto;
        padding-bottom: 15px;
        width: 90%;
    }
}