/* -------------------------------------------- MY LIST -------------------------------------------- */

.myList_container{
    max-width: 1100px;
    min-height: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: 0 auto;   
    padding-top: 50px;
    gap: 20px;    
    padding: 5%;
}

.myList_container h1{
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--primary-color);
    font-size: 25px;
    
}

.myList{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 130px); 
    grid-auto-rows: 200px;
    flex-flow: row wrap;
    gap: 20px;
    justify-content: center;   
}

/* -------------------------------------------- MEDIA SCREENS -------------------------------------------- */

@media screen and (max-width: 730px){
    .myList{ margin-bottom: 30px; }
}

@media screen and (max-width: 513px){
    .myList_container{ padding: 5% 2%; }
    .myList_container > h1{ padding: 2%; }

    .myList{
        gap: 0px;
        padding-bottom: 70px;
    }

    .myList > :global(.anime){
        min-width: 130px!important;
        height: 180px!important;
    }
}

@media screen and (max-width: 513px){
    .myList{ gap: 10px; }

    .myList_container h1{
        margin: 10px auto 30px auto;
        padding-bottom: 15px;
        width: 90%;
    }
}


@media screen and (max-width: 427px){ 
    .myList{ 
        gap: 10px;   
        grid-template-columns: repeat(auto-fill, 100px); 
        grid-auto-rows: 150px;
    }

    .myList > :global(.anime){
        min-width: 100%!important;
        height: 150px!important;
    }
}

@media screen and (max-width: 325px){ .myList{ gap: 10px; } }