.myList_Container{
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;    
    padding-top: 200px;
    gap: 20px;

    & h1{
        width: 1100px;
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid white;
        font-size: 25px;
    }
}

.myList{
    width: 1100px;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    padding-bottom: 40px;
}